
.read {
  height: 100vh;
  &__scroll {
    height: 100%;
  }
}

.article {
  font-size: 28px;
  line-height: (38 / 28);
  padding: 30px 22px 30px 30px;
  &__title {
    padding-bottom: 20px;
  }
  &__p {
    text-indent: 2em;
    padding-bottom: 4px;
  }
}
